*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
/* headerLink */
.headerLink{
    background-color: #fcfcfc;
}
.hl_inner{
    width: 50%;
    margin: 0 auto;
}
.menu ul{
    width: 90%;
    margin: 0 auto;
}
.menu ul, .menu li{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
}
.menu a{
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    display: inline-block;
    padding: 40px 7px;
}
.menu a:hover{
    background-color: #cedb32;
    color: #fff;
}
.menu li.active a{
    background-color: #cedb32;
    color: #fff;
}
/* headerLink */

/* banner */
.banner{
    background-color: #fcfcfc;
    padding: 46px 0;
}
.banner_inner{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.banner_top{
    width: 14%;
    margin: 0 auto 26px;
}
.banner_top h2{
    font-size: 70px;
    font-weight: normal;
    font-family: 'arial';
    color: #6e625e;
    position: relative;
}
.banner_top h2::before{
    content: " ";
    width: 6px;
    height: 54px;
    bottom: 50%;
    right: 106%;
    transform: translate(50%,50%);
    background-color: #cedb32;
    display: inline-block;
    position: absolute;
}
.banner_img{
    width: 1213px;
    margin: 0 auto;
}
.banner_img img{
    width: 100%;
}
.slider-wrapper.bg_slide {
    box-shadow: none;
}
/* banner */

/* three_divs */
.three_divs{
    background-color: #fcfcfc;
    padding: 46px 0;
}
.divs_inner{
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
}
.three_inner{
    text-align: center;
}
.three_content{
    width: 90%;
    background-color: #564c48;
    margin: 0 auto;
}
.divs_top{
    background-color: #cedb32;
}
.divs_bottom {
    overflow: hidden;
}
.three_content h3{
    font-size: 24px;
    font-family: "Arial";
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    padding: 14px 0;
}
.inner_img{
    width: 365px;
    margin: 0 auto 20px;
}
.inner_img img{
    width: 100%;
}
.content_para{
    width: 76%;  
    margin: 0 auto; 
}
.content_para p{
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    padding: 0 0 40px 0;
}
.middle p {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    padding: 0 0 40px 0;
}
/* three_divs */

/* three_contents */
.threeContent{
    background-color: #fcfcfc;
    padding: 30px 0;
}
.thInner{
    width: 87%;
    display: grid;
    grid-template-columns: auto 33% 32%;
    border-bottom: 1px solid #f1f1f1;
    margin: 0 auto;
}
.th_content{
    text-align: left;
    padding-bottom: 38px;
}
.th_content:nth-child(3){
    width: 90%;
    margin: 0 auto;
} 
.th_para h2{
    font-size: 32px;
    font-weight: normal;
    font-family: "arial";
    text-align: left;
    text-transform: capitalize;
    color: #423935;
    margin: 0 0 18px 0;
}
.th_para h4{
    width: 82%;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    font-family: "arial";
    text-align: left;
    text-transform: capitalize;
    color: #949b3f;
    margin: 0 0 18px 0;
}
.th_content p{
    width: 84%;
    font-size: 14px;
    line-height: 24px;
    color: #564c48;
    text-align: left;
    padding: 0 36px 0 0;
    margin-bottom: 10px;
}
.th_content:nth-child(3) p{
    width: 94%;
} 
.thLink a{
    font-size: 16px;
    text-transform: capitalize;
    background-color: #564c48;
    color: #fff;
    padding: 10px 22px;
    display: inline-block;
}
/* three_contents */

/* simply_text */
.simply_text{
    background-color: #fcfcfc;
    padding: 42px 0;
}
.simplyInner, .simply_left, .simply_right{
    display: grid;
}
.simplyInner{
    width: 87%;
    grid-template-columns: auto auto;
    gap: 40px;
    border-bottom: 1px solid #f1f1f1;
    padding: 0 0 50px 0;
    margin: 0 auto;
}
.simply_left{
    grid-template-columns: 20% auto
}
.innerLeft{
    background-color: #cedb32;
    padding: 48px 0;
}
.innerLeft h3{
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    color: #fff;
}
.innerRight{
    text-align: left;
    background-color: #564c48;
    padding: 26px 18px 6px 18px;
}
.innerRight h2{
    font-size: 22px;
    line-height: 32px;
    font-family: "Arial";
    font-weight: normal;
    text-transform: uppercase;
    color: #cedb32;
    padding: 0 0 10px 20px;
}
.innerRight p{
    width: 90%;
    font-size: 14px;
    line-height: 24px;
    color: #b6b6b6;
    padding: 0 6px 0 0;
    margin: 0 auto 10px;
}
.simply_right{
    grid-template-columns: 20% auto
}
/* simply_text */

/* footer */
.designBy{
    background-color: #fcfcfc;
}
.design{
    width: 80%;
    text-align: center;
    padding: 16px 0 40px;
    margin: 0 auto;
}
.design h2{
    font-size: 16px;
    font-family: "Arial";
    font-weight: normal;
    text-transform: uppercase;
    color: #6e625e;
}
.footer_bg{
    background-color: #68655f;
    padding: 30px 0;
}
/* footer */